
<!DOCTYPE html>
<html>
<head>
	<title>Azure Blog Ui Kit Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
	<link href="__INDEX__/thing/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="__INDEX__/thing/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<script src="__INDEX__/thing/js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Azure Blog Ui Kit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

	<!--webfont-->
	</head>
<body>
<div class="col-md-12">
	<h1 class="heading text-center">BLOG / NEWS</h1>
	<div class="header">
		<div class="top-header">
			<div class="navigation">
				<div class="top-menu">
					<span class="menu"><img src="__INDEX__/thing/images/menu.png" alt=""> </span>
					<ul>
						<li><a href="#">NEWS</a></li>
						<li><a href="#">GALLERY</a></li>
						<li><a href="#">BLOG</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">CONTACTS</a></li>
					</ul>
				</div>
				<!--script for menu-->
				<script>
					$("span.menu").click(function(){
						$(".top-menu ul").slideToggle(500, function(){
						});
					});
				</script>
				<!--script for menu-->
			</div>
			<div class="search">
				<!-- start search-->
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
				</div>
				<!-- search-scripts -->
				<script src="__INDEX__/thing/js/classie.js"></script>
				<script src="__INDEX__/thing/js/uisearch.js"></script>
				<script>
					new UISearch( document.getElementById( 'sb-search' ) );
				</script>
				<!-- //search-scripts -->
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="logo text-center">
			<a href="index.html"><img src="__INDEX__/thing/images/logo.png" alt="" /></a>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="total-content">
	<div class="span_one_of_three">
		<div class="col-md-6 span1">
			<div class="span1_top">
				<div class="one text-center">
					<h6>news</h6>
					<span></span>
					<a class="newsmore" href="write.html"><h3>Write Your Weblog</h3></a>
					<h5>Share Your Main</h5>
					<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
				</div>

				<div class="two">
					<img src="__INDEX__/thing/images/2.jpg" alt="" />
					<div class="news">
						<p><span>news</span> <a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
						<a class="newsmore" href="mainthing.html">These Are the Happiest Countries in the World</a>
						<h5>The U.S. ranks No. 15 among 158 countries in the World Happiness Report 2015</h5>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="span1_bottom">
				<div class="wmuSlider example1">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="slider-info">
									<h6>science</h6>
									<h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
									<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="slider-info">
									<h6>science</h6>
									<h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
									<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="slider-info">
									<h6>science</h6>
									<h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
									<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="slider-info">
									<h6>science</h6>
									<h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
									<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
								</div>
							</div>
						</article>
					</div>
				</div>
				<!---->
				<script src="__INDEX__/thing/js/jquery.wmuSlider.js"></script>
				<script>
					$('.example1').wmuSlider({
						pagination :true,
						nav : true,
					});
				</script>

			</div>
		</div>
		<div class="col-md-3 span2">
			<div class="three">
				<img src="__INDEX__/thing/images/3.jpg" alt="" />
				<div class="tech">
					<p><span>tech</span><a href="#"> <i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
					<a class="newsmore1" href="thing2.html" >Apple Watch Review: You’ll Want One, but You Don’t Need One</a>
				</div>
			</div>
			<div class="four text-center">
				<h6>interview</h6>
				<span></span>
				<img src="__INDEX__/thing/images/user.jpg" alt="" />
				<h4>An Interview with Photographer Joanna Kustra</h4>
			</div>
		</div>
		<div class="col-md-3 span3">
			<div class="top-news">
				<h3>top news</h3>
				<img src="__INDEX__/thing/images/ribbon.png" class="ribbon" alt="" />
				<img src="__INDEX__/thing/images/4.jpg" alt="" />
				<a href="#" class="morenews">This Is the Trader Behind Some of Deutsche Bank's Most Embarrassing Messages</a>
				<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
				<a href="#" class="morenews">If You Like the Breakfast at the National in New York, Then Try These Other Spots</a>
				<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
				<a href="#" class="morenews">Nasdaq Composite Gains as Google, Amazon.com Rally on Earnings</a>
				<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
				<a href="#" class="morenews">Here’s What It’s Like to Eat in the House of Lords’ Exclusive Parliament Dining Room</a>
				<p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="content-bottom">
		<div class="col-md-3">
			<div class="futurestory text-center">
				<h6>Feature Story</h6>
				<span></span>
				<h3>Global Temperature Records Just Got Crushed Again</h3>
				<h5>It just keeps getting hotter. </h5>
				<p><a href="#"><i class="commenticon1"></i></a><a href="#">12</a> <i class="date1"></i>2 hours ago</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="video">
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span><img src="__INDEX__/thing/images/play-button.png" alt="" /> </span></a>

				<link href="__INDEX__/thing/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
				<script src="__INDEX__/thing/js/jquery.magnific-popup.js" type="text/javascript"></script>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
					});
				</script>
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><label></label>watch live</a>
				<h4>One Day, Three Cities: Taking Scotland's Political Pulse</h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class="quotation text-center">
				<h6>Feature Story</h6>
				<span></span>
				<h5>I don't care that they stole my idea … I care that they don't have any of their own.</h5>
				<a href="">— Nikola Tesla</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>



</div>
<div class="col-md-12">
	<div class="footer">
		<div class="footer-top">
			<h2>azure</h2>
			<p>SEO text Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
			<div class="clearfix"></div>
		</div>

	</div>
</div>

</body>
</html>