
<!DOCTYPE html>
<html>
<head>
    <title>Azure Blog Ui Kit Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
    <link href="__INDEX__/thing/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="__INDEX__/thing/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="__INDEX__/thing/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Azure Blog Ui Kit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <!--webfont-->


    <link rel="shortcut icon" href="img/favicon.png">

    <title>Form Component | Creative - Bootstrap 3 Responsive Admin Template</title>

    <!-- Bootstrap CSS -->
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="__ADMIN__/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="__ADMIN__/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="__ADMIN__/css/font-awesome.min.css" rel="stylesheet" />
    <link href="__ADMIN__/css/daterangepicker.css" rel="stylesheet" />
    <link href="__ADMIN__/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="__ADMIN__/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- date picker -->

    <!-- color picker -->

    <!-- Custom styles -->
    <link href="__ADMIN__/css/style.css" rel="stylesheet">
    <link href="__ADMIN__/css/style-responsive.css" rel="stylesheet" />




    <script src="__editor__/ueditor.config.js"></script>
    <script src="__editor__/editor_api.js"></script>


    <script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
</head>
<body>

<div class="col-md-12">

    <div class="header">
        <div class="top-header">
            <div class="navigation">
                <div class="top-menu">
                    <span class="menu"><img src="__INDEX__/thing/images/menu.png" alt=""> </span>
                    <ul>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">GALLERY</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACTS</a></li>
                    </ul>
                </div>
                <!--script for menu-->
                <script>
                    $("span.menu").click(function(){
                        $(".top-menu ul").slideToggle(500, function(){
                        });
                    });
                </script>
                <!--script for menu-->
            </div>
            <div class="search">
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="__INDEX__/thing/js/classie.js"></script>
                <script src="__INDEX__/thing/js/uisearch.js"></script>
                <script>
                    new UISearch( document.getElementById( 'sb-search' ) );
                </script>
                <!-- //search-scripts -->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="logo text-center">
            <a href="index.html"><img src="__INDEX__/thing/images/logo.png" alt="" /></a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="total-content">






    <div class="middle-banner">
        <span>politics</span>
        <h3>Cameron Set to Return With U.K. Majority as SNP Sweeps Scotland</h3>
    </div>
    <div class="author-post">

        <form action="{:url('index/add')}" method="post" class="cmxform">
            <div class="panel">

                <div class="panel-body">

                    <div class="form-group col-md-12">

                        <textarea id="container" name="content" type="text/plain"></textarea>
                        <script type="text/javascript">
                            var ue=UE.getEditor('container');//吧id=container实例化
                        </script>

                    </div>

                    <div class="col-md-7">
                        <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon">标题</span>

                                <input type="text" name="title" value="" class="form-control">
                                <input type="hidden" name="num" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon">序号</span>
                                <input type="text" name="num" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon">发布者</span>
                                <input type="text" name="username" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon">类型</span>
                                <input type="text" name="type" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group"> <span class="input-group-addon">内容</span>
                                <textarea type="text" name="summary" value="" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="submit" value="发布" class="submit btn btn-blue">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form action="{:url('Index/uploads')}" method="post" enctype="multipart/form-data">
            <p>
                File：<br>
                点我上传图片1<input type="File" name="file[]" value=""><br>
                点我上传图片2<input type="File" name="file[]" value=""><br>
                点我上传图片3<input type="File" name="file[]" value=""><br>

            </p>
            <p>
                提交：
                <input type="submit" value="提交">
            </p>
        </form>

        <div class="clearfix"></div>
    </div>
</div>
<div class="col-md-12">
    <div class="footer">
        <div class="footer-top">
            <h2>azure</h2>
            <p>SEO text Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

</body>
</html>